<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mediaupload;AccountKey=wdW11WiC3An+mBtlmTtpNnArJhls5d6O69c1UybNGIRCzQHzZPA8gMUN1cPlywrijYg7BgAJOTft9YTPAa9djg==" />
    <add key="DeviceTable" value="DeviceTable" />
    <add key="UserTable" value="UserTable" />
    <add key="MediaTable" value="MediaTable" />
    <add key="QueryHistory" value="QueryHistory" />
    <add key="Uri" value="http://mediaupload.cloudapp.net" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="ServiceBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647" receiveTimeout="00:5:00" maxBufferPoolSize="2147483647" />
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mediaupload.cloudapp.net/Service.svc/UserManager" binding="webHttpBinding" bindingConfiguration="ServiceBinding" behaviorConfiguration="RestBehavior" contract="MediaRepositoryWebRole.Contracts.IUserManager" />
      <endpoint address="http://mediaupload.cloudapp.net/Service.svc/MediaRepositoryService" binding="webHttpBinding" bindingConfiguration="ServiceBinding" behaviorConfiguration="RestBehavior" contract="MediaRepositoryWebRole.Contracts.IMediaRepositoryService" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>