<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="UseDevelopmentStorage=true"/>
    <add key="DeviceTable" value="DeviceTable"/>
    <add key="UserTable" value="UserTable"/>
    <add key="MediaTable" value="MediaTable"/>
    <add key="QueryHistory" value="QueryHistory"/>
  </appSettings>
  
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647" receiveTimeout="00:5:00" maxBufferPoolSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    
    <client>
      <endpoint address="http://localhost/MediaRepository/Service.svc/UserManager"
								binding="basicHttpBinding"
								bindingConfiguration="ServiceBinding"
								contract="MediaRepositoryWebRole.Contracts.IUserManager" />

      <endpoint address="http://localhost/MediaRepository/Service.svc/MediaRepositoryService"
                binding="basicHttpBinding"
                bindingConfiguration="ServiceBinding"
                contract="MediaRepositoryWebRole.Contracts.IMediaRepositoryService" />
    </client>
  </system.serviceModel>
  
</configuration>